<%= form_with(model: post, class: 'container') do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="new-field">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, :required => true %>
  </div>

  <div class="new-field">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, :required => true %>
  </div>

  <div class="new-field">
    <%= form.label :cover_image, style: "display: block" %>
    <%= form.file_field :cover, :accept => ".png, .jpg, .jpeg, .webp"%>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content, :required => true %>
  </div>

  <% if @post.approve == true %>
    <div class="input-group-text">
      <span>Approve</span>
      <input id="post_status" type="checkbox" size="9" name="post_status[approve]" checked>
    </div>

    <div class="input-group-text">
      <span>Ban</span>
      <input id="post_status" type="checkbox" size="9" name="post_status[bann]">
    </div>
  <% else %>
    <span>Approve</span>
    <input id="post_status" type="checkbox" size="9" name="post_status[approve]">

    <span>Ban</span>
    <input id="post_status" type="checkbox" size="9" name="post_status[bann]">
  <%end%>
  <input type="hidden" name="post_status[id]" value="<%= @post.id%>">

  <div>
    <%= form.submit %>
  </div>
<% end %>
