<div id="posts">
  <main style="margin-bottom: 4rem;">
    <div class="container section_title">
      <h1 class="aboutme">Publicaciones</h1>
    </div>

    <div class="articles-grid container">

      <div class="articles">
        <% @posts.each do |post| %>
          <div class="article-card">
            <div class="thumb">
              <% if post.cover.attached? %>
                <%= image_tag(url_for(post.cover), :class => "cover_img", :loading => "lazy") %>
              <%end%>
            </div>
            <div class="article-info">
              <div class="meta_info">
                <span class="date">
                  <%= post.created_at.strftime("%d %B %Y") %> •
                </span>
                <span class="reading_minutes">
                  <%= post.rich_text_content.to_plain_text.reading_time :format => :approx %> read
                </span>
              </div>
              
              <h2><%= post.title %></h2>
              <h4><%= post.description %></h4>
              <p class="goto_article_btn"><%= link_to "Read more...", article_path(post) %></p>
            </div>
          </div>
        <% end %>
      </div>

      <%= render "layouts/sidebar" %>
      
      <%= will_paginate @posts %>
    </div>

  </main>

</div>
