<div id="posts">
  <main style="margin-bottom: 4rem;">
    <div class="section_title container">
      <h1 class="aboutme">Sobre mi</h1>
      <p class="p_aboutme">
        Mi nombre es Diego Salinas y soy desarrollador de software. Vivo en México, por lo tanto hablo español pero también de vez en cuando me gusta escribir en inglés. Puedes contactarme mediante [
        <a href="https://twitter.com/mantequillah_" target="_blank"><i class="fa-brands fa-twitter"></i></a>,
        <a href="https://www.linkedin.com/in/diego-salinas09/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>,
        <a href="https://github.com/diegoOG09" target="_blank"><i class="fa-brands fa-github-alt"></i></a> ].
      </p>
      <p class="p_aboutme">
        En este blog voy a hablar principalmente sobre soluciones o tutoriales que en su momento me costó encontrar y que quiero compartir ahora que ya las sé :), entre otras que me parezcan interesantes.
      </p>
      <div class="grid_things container">
        <div class="things">
          <h2><i class="fas fa-keyboard"></i>Trabajo con...</h2>
          <ul>
            <li>Ruby on Rails</li>
            <li>Javascript</li>
            <li>HTML/CSS</li>
            <li>GNU/Linux</li>
            <li>Terminal</li>
            <li>Vue pronto</li>
          </ul>
        </div>
        <div class="things">
          <h2><i class="fas fa-fire"></i>Apasionado con...</h2>
          <ul>
            <li>Código</li>
            <li>Cine</li>
            <li>Videojuegos</li>
            <li>Libros</li>
            <li>Música</li>
        </div>
        <div class="things">
          <h2><i class="fas fa-lightbulb"></i>Pensando en...</h2>
          <ul>
            <li>Vue</li>
            <li>Unit test</li>
            <li>Full-stack</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container section_title">
      <h1 class="aboutme">Publicaciones</h1>
    </div>

    <div class="articles-grid container">

      <div class="articles">
        <% @posts.each do |post| %>
          <div class="article-card">
            <div class="thumb">
              <% if post.cover.attached? %>
                <%= image_tag(url_for(post.cover), :class => "cover_img", :loading => "lazy") %>
              <%end%>
            </div>
            <div class="article-info">

              <div class="meta_info">
                <span class="date">
                  <%= post.created_at.strftime("%d - %B - %Y") %>
                </span>
                <span class="reading_minutes">
                  🕛Reading time: <%= post.rich_text_content.to_plain_text.reading_time :format => :approx %>
                </span>
              </div>
              
              <h2><%= post.title %></h2>
              <h3><%= post.description %></h3>
              <p> <%= link_to "Read more...", article_path(article_id: post.id) %> </p>
            </div>
          </div>
        <% end %>
      </div>

      <div class="sidebar">
        <p>Esto es para la sidebar</p>
      </div>
      
      <%= will_paginate @posts %>
    </div>

  </main>

</div>
